<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.muljin.zendesk">
  <application>
   
    <activity
      android:name="zendesk.messaging.MessagingActivity"
      android:exported="true"
      tools:replace="android:windowSoftInputMode"
      android:windowSoftInputMode="adjustResize|stateAlwaysVisible">
    </activity>

  </application>
</manifest>
